version: "3.9"

services:
  api:
    build: .
    container_name: leaderboard_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  redis:
    image: redis:7-alpine
    container_name: leaderboard_redis
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: leaderboard_mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  redis_data:
  mongo_data: